@media (max-width: 700px) {
    body {
        padding: 10px; 
    }

    section {
        flex-direction: column; 
    }

    .card {
        width: 100%; 
        height: auto; 
        margin-bottom: 20px; 
    }}
    * {
	margin: 0;
	padding: 0;
    }

    *{
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    }

    nav a{
    color:white;
    text-decoration: none;
    }

    h1{
    font-weight: bold;
    text-decoration: double;
    text-shadow: white;
    text-align: center;
    color: white;
    }

    .text{
    font-family: 'Arial', sans-serif;;
    font-weight: bold;
    color: white ;
    padding: 30px;
    }

    body{
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    background-color: #222 ;
    flex-direction: column;
    -webkit-flex-direction: column;
    }

    .card{
    width: 300px;
    height: 320px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective:600px;
    }
  
    .card__part{
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    display: inline-block;
    width: 290px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;           
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    }

    #first{
    background-image: url('../photos/Gheorghe_Gruia.jpg')
    }

    #second{
    background-image: url('../photos/Stefan_Birtalan.jpg');
    }

    #third{
    background-image: url('../photos/Marian_Cozma.jpg');
    }

    #forth{
    background-image: url('../photos/Cristina_Neagu.jpg');
    }

    #fifth{
    background-image: url('../photos/Eliza_Bucheschi.jpg');
    }
  
    .card__front{
    padding: 18px;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    background-image: url('../photos/Cristina_Neagu.jpg');
    }
  
    .card__back {
    padding: 18px 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    background-color: #222;
    background-image: none;
    }
  
    .card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    }
  
    .card__back-content {
    padding: 15px 15px 0;
    background-color: #222;
    }

    .card_years{
    color: white;
    text-align: center;
    text-decoration: bold;
    }

    .card_text{
    color: white;
    text-align: justify;
    }

    .card:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg); 
    }
  
    .card:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    }

    section{
    display: flex;
    }

    .logo-and-title {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    }